* {
	margin:0;
	padding:0;
/* 	font-family: 맑은 고딕; */
/* 	font-size: 14px; */
}
body {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}
a {	
	text-decoration: none;
	color: #5CADFF;
}
a:hover { 
	text-decoration: underline;
}
a:visited {	
	text-decoration: none;
}
h3 {
	display:inline;
	text-align:right;
}
textarea {
	font-size:100%;
	line-height:1.5em;
	width:600px;
	height: 500px;
	margin-bottom: 10px;
	padding : 10px;
}
p {
    line-height: 1.5em;
}

/*************** 상단 ***************/
#title {
/* 	background-color: #E6E6E6; */
/* 	padding-left:10px; */
/* 	border-bottom:1px solid #ddd; */
	height:70px;
/* 	margin-bottom:10px; */
    text-align: center;
    margin-top: 50px;
	
}
#title h1 a {
/* 	font-size:200%; */
/* 	margin-top:3px; */
	color: black;
	margin-top: 100px;
}
#title h1 a:hover {
    text-decoration: none;
}

/*************** 좌측 ***************/
#list {
	float:left;
	margin-right:10px;
    border: solid 1px #ddd;
    width: 120px;
}
ul li {
/*     font-size: 10px; */
	height: 16px;
	list-style-type: none;
}
ul li a, #selected_bible {
   font-size: 12px;
}
ul li a {	
	margin-left:15px;
}
#selected_bible {
    text-decoration: underline;
    font-weight: bold;
}

/*************** 중앙 ***************/
/* 
#right {
/* 	margin-left:170px; */
}
 */
h2 {
/* 	font-size:120%; */
	display:inline;
}
h2 a {
	color:#777;
}

#chapters {
	margin-bottom:20px;
}
#chapters table {
}
#chapters table tr {
	height:5px;
	border:solid 1px;
}
#chapters table tr td {
	width:100px;
	text-align:center;
	border:solid 1px #ddd;
}
#chapters a{
	color:#777;
	font-size:90%;
}
#written {
	font-weight: bold;
}

#verse {
	float:left;
	width: 30px;
	text-align:right;
	color:#777;
}
#contents {
	margin-left:20px;
	margin-bottom: 5px;
	padding-left:20px;
	line-height: 1.5em;
	
}

/*************** 하단 ***************/
#footer {
    border: solid 1px;
	text-align: center;
	height:50px;
}
